/* Allgemeine Styles */
body {
    background-color: rgb(209, 200, 235);
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Styling des Hauptbereichs */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    max-width: 1000px;
    width: 80vw;
}

/* Styling des Bereiches aller Teammitglieder */
#teammembers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    align-self: center;
}

/* Styling der einzelnen Teammitglieder*/
.member {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Styling der einzelnen Teammitglieder in umgekehrter Reihenfolge */
.memberReverse {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: cover;
}

/* Styling der Bilder der Teammitglieder */
.memberImage {
    border-radius: 50%;
    border: 2px solid black;
    height: 20vw;
    max-height: 300px;
    min-height: 180px;
    margin-left: 20px;
    object-fit: cover;
    aspect-ratio: 1/1;
}

/* Styling der Bilder der Teammitglieder in umgekehrter Reihenfolge */
.memberImageReverse {
    border-radius: 50%;
    border: 2px solid black;
    height: 20vw;
    max-height: 300px;
    min-height: 180px;
    margin-right: 20px;
    object-fit: cover;
    aspect-ratio: 1/1;
}

/* Styling des Textes der Teammitglieder */
.memberText {
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: right;
    max-width: 500px;
}

/* Styling des Textes der Teammitglieder in umgekehrter Reihenfolge */
.memberTextReverse {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 500px;
}

/* Styling der Überschriften */
h2 {
    font-family: cubano, sans-serif;
    font-style: normal;
    font-size: 28px;
    font-weight: 400;
}

/*FOOTER*/
/* Aenderungen Footer fuer diese Unterseite */
footer {
    background-color: rgb(91, 71, 153);
    color: rgb(192, 183, 220);
}
.footer-text a {
    color: rgb(192, 183, 220); 
}
.footer-links a {
    display: block;
    color: rgb(192, 183, 220);
}


/*RESPONSIVE*/
/* Anpassungen für mobile Geraete */
@media (max-width: 600px) {
    .member {
        flex-direction: column-reverse;
        text-align: center;
    }

    .memberReverse {
        flex-direction: column-reverse;
        text-align: center;
    }
p {
   text-align: center;}

   h1 {
    text-align: center;}

    h2 {
        text-align: center;}


        .memberImage {

            height: 80vw;
        }
        
        .memberImageReverse {

            height: 80vw;

        }
}