#schweizerKarte{
  display: block;
  width: 100%;
  height: auto;
}


/* Container für das Boot */
#container {
  position: relative;
  width: 800px; 
  height: 554.51px;
}

#boat {
  width: 10%; 
  position: absolute; /* Positionierung auf der Seite */
  left: 390px; /* Startposition horizontal */
  top: 290px; /* Startposition vertikal */
  transform: rotate(10deg); /* Startrotation */
}


.mapPunkt {
  cursor: pointer;
}













