body{
    background-color: rgb(206, 231, 248);
}
main {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    width: 100%;
}

section {
height: 80vh;
}

#infoBoxCt {
    display: flex;
    width: 1fr;
    background-color: lightsalmon;
    align-items: center;
    justify-content: center;
    position: absolute; z-index: 2;
}


#thermometerCt {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 90vh;
    background-color: lightcoral;
    justify-content: center;
    align-items: center;
}

.thermometerRahmen {
    display: flex;
    height: 80vh;
    width: 90px;
    background-color: grey;
    justify-content: center;
    align-items: center;
}
.thermometer {
    display: flex;
    height: 70vh;
    width: 80px;
    background-color: white;
    justify-content: center;
    align-items: center;
}
#thermometerFill{
    width: 25px;
}

#thermoAnzeige{
    display: flex;
    align-self: flex-start;
    justify-content: center;
 
}

/* .infoBox {
    position: relative;
} */