body {
    /* background-color: rgb(206, 231, 248); */
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    width: 100%;
}

section {
    height: 80vh;
}

#infoBoxCt {
    display: flex;
    width: 1fr;
    background-color: lightsalmon;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
}


#thermometerCt {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 90vh;;
    justify-content: center;
    align-items: center;
}


.thermometer {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 120px;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 30px;
}
#thermometerFillSkala {
    width: 90%;
    height: 90%;
display: flex;
flex-direction: row;
margin: 50px;
justify-content: space-around;

}
#thermometerSkala {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 20px;
    border-radius: 20px;   
    font-size: 20px;
}

#thermometerFill {
    width: 33%;
    height: 3vh;
    border-radius: 20px;
    align-self: flex-end;
    background-color: blue;
}

#thermoAnzeige {
    display: flex;
    align-self: flex-start;
    justify-content: center;

}

.thermometerZahlCss {
    font-weight: bold;
    margin-bottom: 2vh;
    font-size: 2em;
    display: flex;
    flex-direction: row;
}



/* .infoBox {
    position: relative;
} */