body {
    background-color: rgb(232, 250, 234);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


#aare-app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#search-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    /* Abstand oben innerhalb des Containers */
    padding-bottom: 50px;
}


input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    max-width: 600px;
    height: 5vh;

    border-radius: 20px;
    background: rgb(162, 201, 165);
    /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
    /*backdrop-filter: blur(5px);*/
    /*border: 30px solid rgb(40, 51, 41);*/
    border-color: rgb(40, 51, 41);
    border-style: solid;
    border-width: 5px;

    font-family: 'europa', sans-serif;
    font-size: 1.5vw;
    color: rgb(70, 92, 72);

    box-sizing: border-box;
}

h1 {
    font-family: cubano, sans-serif;
    font-style: normal;
    font-size: 40%;
    font-weight: 400;
}

p {
    font-family: europa, sans-serif;
    font-style: normal;
    font-size: 20%;
    font-weight: 400;
}